@import "tailwindcss";

@theme {
  --color-primary-50: #eff6ff;
  --color-primary-100: #dbeafe;
  --color-primary-200: #bfdbfe;
  --color-primary-300: #93c5fd;
  --color-primary-400: #60a5fa;
  --color-primary-500: #3b82f6;
  --color-primary-600: #2563eb;
  --color-primary-700: #1d4ed8;
  --color-primary-800: #1e40af;
  --color-primary-900: #1e3a8a;
  --font-tangerine: var(--font-tangerine);
}

:root {
  --background: #f2f4ec;
  --card-background: #FFFFFF;
  --text-primary: #111827;
  --text-secondary: #6B7280;
  --button-primary: #047857;
  --button-text: #FFFFFF;
  --accent-total-bg: #E6F4EA;
}

.bg-background {
  background-color: var(--background);
}

.bg-card {
  background-color: var(--card-background);
}

.text-primary {
  color: var(--text-primary);
}

.text-secondary {
  color: var(--text-secondary);
}

.bg-button-primary {
  background-color: var(--button-primary);
}

.text-button-text {
  color: var(--button-text);
}

.bg-accent-total {
  background-color: var(--accent-total-bg);
}
